body {
    background-image: url("../images/unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color:rgb(1, 14, 9);   
    

}


h1 {
    font-family: "Covered By Your Grace";
    color: rgb(26, 165, 165);
    text-align: center;
    font-size: 150px;
    background-color: rgb(1, 14, 9);
}

H2 {
    font-family: "Covered By Your Grace";
    color: rgba(26, 165, 165, 0.9);
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    color: white
}

a {
    color: whitesmoke;
}

video {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.madprops {
    color: white;
    background-color:gray;
    position: fixed;
    bottom: 0;
}
