body {
    background-image: url("../images/unsplash.jpg");
    background-size: cover;

}


h1 {
    font-family: "Covered By Your Grace";
    color: rgb(26, 165, 165);
    text-align: center;
    font-size: 150px;
    background-color: rgb(1, 14, 9);
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.madprops {
    color: white;
    background-color:gray;
    position: fixed;
    bottom: 0;
}